* {box-sizing: border-box;}  

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
  width: 100vw;
  height: 100vh;
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace
}

.grid div {
  color: #fff;
 }

.left-grid {
  display: grid;
  grid-column: 2;
  grid-auto-flow: column;
  grid-template-columns: 600px;
  grid-auto-rows: 60px 600px;
  grid-template-areas: "header"
                       "squares"
                       "footer"
}

.right-grid {
  display: grid;
  grid-column: 4;
  grid-auto-flow: column;
  grid-template-columns: 600px;
  grid-auto-rows: 60px 600px;
  grid-template-areas: "header"
                       "squares"
                       "footer"
 }

.squares {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px 300px;
  grid-auto-rows: 300px;
  grid-template-areas: "one two"
                       "three four"
}

.squares img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.square:nth-child(1) {
  grid-area: one;
}

.square:nth-child(2) {
  grid-area: two;
}

.square:nth-child(3) {
  grid-area: three;
}

.square:nth-child(4) {
  grid-area: four;
}

.footer {
  grid-area: footer;
  height: 60px;
  padding: 20px 0 0 20px;
  background-color: rgb(192, 58, 72);
  color: black;
}

.answer {
  grid-area: five;
  background-color: rgb(51, 128, 183);
  padding: 10px 0 0 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.header {
  grid-area: header;
  height: 60px;
  background-color: grey;
  padding: 20px 0 0 20px;
  font-size: 1em;
}

.rectangles {
  display: grid;
  grid-auto-flow: column;
  background-color: steelblue;
  grid-template-columns: 300px 300px;
  grid-auto-rows: 200px;
  grid-template-areas: "one two"
                       "three four"
                       "five six"
}

.rectangle {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20px 1fr 20px;
  grid-auto-rows: 20px 1fr 0px;
  grid-template-areas: "one two three"
                       "four five six"
                       "seven eight nine";
}

.rectangles img {
  object-fit: cover;
  height: 200px;
  width: 300px;
}

.rectangle img.thumb {
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.vernacular-name {
  grid-area: five;
  padding: 5px 0 0 5px;
  font-size: 0.8em;
}

.vernacular-name p {
  height: 6px;
}

.rectangle:nth-child(1) {
  grid-area: one;
}

.rectangle:nth-child(2) {
    grid-area: two;
}

.rectangle:nth-child(3) {
    grid-area: three;
  }
  
.rectangle:nth-child(3) {
  grid-area: four;
}

.rectangle:nth-child(5) {
  grid-area: five;
}

.rectangle:nth-child(6) {
  grid-area: six;
}

.right-body {
  background-color: rgb(146, 154, 141);
}

.letterbox {
  grid-area: letterbox;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 220px 60px;
  grid-template-areas: "one"
                       "two"
}

.letterbox div {
  grid-area: two;
  height: 80px;
  background-color: rgb(95, 99, 102);
  padding: 20px 0;
}

.letterbox span {
  margin: 0 0 0 10px;
  font-size: 1.4em;
  color: #fff;
}

.letterbox input {  
  font-size: 1.4em;  
  margin: 0 0 0 10px;
  padding: 5px;
  color: rgb(60, 60, 60);
}

.letterbox input.short {
  width: 300px;
}

.letterbox input.long {
  width: 475px;
}