* {box-sizing: border-box;}  

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 520px ;
    grid-gap: 10px;
}

.grid div {
  background-color:rgba(0,95,107,0.8);
  color: #fff;
  border: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  }

.grid div:nth-child(odd) {
  background-color:rgba(0,195,107,0.8);
}
