* {box-sizing: border-box;}  

.grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.grid div {
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    background-color:#256262;
  }

/* .grid div:nth-child(odd) {
  
} */

.image-grid {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 400px 1fr;
}

/* .image-grid > div {
  overflow: hidden;  
} */

img.resize {
  max-width:75%;
  max-height:75%;
}